/.metadata/
/WebDriverTest/test-output/screen-shot/

WebDriverTest/logs/
/WebDriverTest/logs/
WebDriverTest/logs/error.log
/WebDriverTest/.settings/
/WebDriverTest/target/classes/
/WebDriverTest/target/test-classes/
logs/
WebDriverTest/test-output/junitreports/TEST-com.yss.suit.scenario1.xml
WebDriverTest/logs/error.log
WebDriverTest/logs/error.log.2018-08-09
WebDriverTest/logs/info.log
WebDriverTest/logs/info.log.2018-32
WebDriverTest/logs/log.log
WebDriverTest/logs/log.log.2018-08-10
WebDriverTest/logs/log.log.2018-08-11
WebDriverTest/src/main/java/com/yss/common/AllElementEnum.java
WebDriverTest/src/main/java/com/yss/common/MyResponse.java
