/.metadata/
/WebDriverTest/test-output/screen-shot/
*.log.*
*.log
/WebDriverTest/.settings/
/WebDriverTest/target/classes/
/WebDriverTest/target/test-classes/
/WebDriverTest/test-output/
WebDriverTest/test-output/junitreports/TEST-com.yss.suit.scenario1.xml
